<style>   
    .alerta{
        
        display: block;
        margin: auto;
        z-index: 1;
        margin-top: 15px;
        font-size: 14px;
    }
    .close{
        font-size: 18px !important;
    }
    .hand {
        display: block;
        margin: 50px auto 10px auto;
        max-width: 350px;
    }
    .titulo{
        text-align: center;
        font-size: 20px;
        margin-bottom: 40px;
    }
    .logos{
        max-width: 150px;
    }
    #footer {
        position: absolute;
        bottom: 15px;    
    }


    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        select:focus,
        textarea:focus,
        input:focus {
            font-size: 20px;
            background: #eee;
        }
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        select,
        textarea,
        input {
            font-size: 16px;
        }
    }
    
    .botoes{
        margin: auto 5px;
    }    
    .opcoes{
        margin-right: 5px;
    }
    .central{
        display: block;
        margin: 0 auto;
    }
    .label-input{
        margin: 9px;
        color: #495057;
        font-size: 20px;
    }
    .subtitulo {
        font-size: 16px;
        font-style: bold;
    }

    .texto-ajuda{
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 20px;
    }

    .subtexto-ajuda{
        font-size: 12px;
        margin-bottom: 5px;
    }
</style>

<html lang="pt-br">
    <head>                
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">        
        <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
        <title>Mão Robótica Representativa de Sinais para Auxiliar no aprendizado de LIBRAS</title>
    </head>
    <body>  
        
        <div role="dicionario" class="modal fade" id="dicionarioModal" tabindex="-1" aria-labelledby="dicionarioModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="dicionarioModalLabel">Dicionário</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">                                            
                        <small class="label"><b>Letras:</b></small>
                        {% for item in letras %}
                            <small class="label">[ {% print(item.upper()) %} ] </small>
                        {% endfor %}        
                        <hr>         
                        <small class="label"><b>Números:</b></small>
                        {% for item in numeros %}
                            <small class="label">[ {% print(item.upper()) %} ] </small>
                        {% endfor %}                 
                        <hr> 
                        <small class="label"><b>Palavras:</b></small>
                        {% for item in palavras %}
                            <small class="label">[ {% print(item.upper()) %} ] </small>
                        {% endfor %}                 
                        <hr> 
                        <small class="label"><b>Expressões:</b></small>
                        {% for item in expressoes %}
                            <small class="label">[ {% print(item.upper()) %} ] </small>
                        {% endfor %}                                         
                    </div>                
                </div>
            </div>
        </div>

        <div role="sobre" class="modal fade" id="infosModal" tabindex="-1" aria-labelledby="infosModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="infosModalLabel">Ajuda</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">                    
                        <p class="texto-ajuda">A <b>MAR<sup>2</sup>S</b> é uma mão robótica capaz de gesticular sinais em <b>LIBRAS</b> a partir do que foi escrito em <b>português</b>.</p>
                        <hr>
                        <p class="texto-ajuda">Nela você pode escrever letras, números, palavras e expressões em português para serem representadas em <b>LIBRAS</b> pela <b>MAR<sup>2</sup>S</b>. </p>
                        <p class="subtexto-ajuda">* Você pode conferir quais sinais a mão é capaz de reproduzir clicando em <b>Dicionário</b> na tela principal.</p>
                        <p class="texto-ajuda">Para soletrar uma palavra, você pode colocá-la entre [ ]. Assim, os sinais são representados letra por letra.</p>
                        <p class="subtexto-ajuda">* Ex: [ata], os sinais representados serão os sinais correspondentes as letras A, T e A.</p>
                        <p class="subtexto-ajuda">** Não devem ser adicionados espaços em palavras a serem soletradas</p>
                    </div>                
              </div>
            </div>
        </div>
        
        <div class="container principal" role="main">                        
            <div class="row">                
                <div class="col-12">                    
                    <img alt="Logo MARS" class="hand" src="../static/inmoov-hand.png">
                    <h1 class="titulo">Mão Robótica Representativa de Sinais</h1>
                </div>            
            </div>                        
            <div class="row">
                <div class="col-md-12">  
                                    
                    <form method="post">                                     
                        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                            <div class="input-group">
                                <label for="palavra" class="label-input">Digite algo em português: </label>   
                                <input type="text" id="palavra" name="palavra"
                                aria-labelledby="Entrada de letras e palavras em português" aria-hidden="false" aria-describedby="Entrada de letras e palavras em português" class="form-control form-control-lg border-0 bg-light">                                
                                <div class="input-group-append">
                                    <button aria-label="Enviar" type="submit" id="enviar_btn" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                          </div>
                          
                    </form>                    
                </div>
                <div class="col-md-12 center-block text-center">                    
                    <button type="button" aria-label="Botão Dicionario" class="btn btn-dark botoes" data-toggle="modal" data-target="#dicionarioModal"><i class="fa fa-book opcoes" aria-hidden="true"></i>Dicionário</button>
                    <button type="button" aria-label="Botão Sobre" class="btn btn-dark botoes" data-toggle="modal" data-target="#infosModal"><i class="fa fa-question-circle opcoes" aria-hidden="true"></i>Ajuda</button>
                </div>
            </div>               
        
            {% if erro == True %}
            <div class="row">
                <div class="col-md-12" style="position: relative;">     
                    <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="">
                        Infelizmente, a MAR<sup>2</sup>S ainda não é capaz de representar os sinais correspondentes a:
                        <span class="alert-link">{% print(' / '.join(erros)) %}</span>
                        
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            {% elif erro == False %}
                <div class="row">
                    <div class="col-md-12" style="position: relative;">     
                        <div class="alert alert-success alert-dismissible fade show alerta" role="alert">
                            Todas os sinais puderam ser representados em LIBRAS pela MAR<sup>2</sup>S. 
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="container" role="contentinfo">
            <div class="row" id="footer">
                <div class="col-md-12">     
                    <img alt="Logo UTFPR" class="logos" src="../static/utfpr-logo.png">
                </div>
            </div> 
        </div>    

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>


<script type="text/javascript"> 
    var letras = "{{letras|safe}}";    
    var numeros = "{{numeros|safe}}";    
    var palavras = "{{palavras|safe}}";    
    var expressoes = "{{expressoes|safe}}";    

    console.log(letras);
    console.log(numeros);
    console.log(palavras);
    console.log(expressoes);
 </script>